#Proteger el directorio
#Options -Indexes



# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tecnologia/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tecnologia/index.php [L]
</IfModule>

# END WordPress